html {
    font-size: 22px;
}

body {
    background-color: rgb(245, 202, 184);
    color: rgb(174, 225, 140);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(245, 202, 184);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: rgb(7, 165, 17);
    padding: 1px 16px;
    text-decoration: none;
    font-size: 30px;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
    text-align: center;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(7, 165, 17);
    -webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color:rgb(7, 165, 17);
  }



  